.fave-game-picker__reasons {
  width: calc(100% - 16px);
  height: calc(60vh - 125px);
}

.fave-game-picker__game-name {
  margin-top: 8px;
  width: 200px;
}

.fave-game-picker select,
.fave-game-picker input {
  margin-right: 8px;
  margin-bottom: 8px;
}

@media (max-width: 600px) {
  .fave-game-picker select {
    width: 100%;
  }
  .fave-game-picker__game-name {
    width: calc(100% - 18px);
    margin-right: 0;
  }
  .fave-game-picker button {
    width: 100%;
    margin-bottom: 8px;
  }
}
