.fave-game-picker__reasons {
  width: 100%;
  height: 60vh;
}

.fave-game-picker__game-name {
  margin-top: 8px;
  width: 200px;
}

.fave-game-picker select,
.fave-game-picker input {
  margin-right: 8px;
  margin-bottom: 8px;
}
