.mfg-input {
  padding: 8px;
  border-radius: 5px;
  font-family: inherit;
  font-size: inherit;
  background: white;
  border: 1px solid black;
}

.mfg-select {
  font-size: inherit;
  padding: 8px;
  border-radius: 5px;
  font-family: inherit;
}
