.fave-game {
  position: relative;
}

.fave-game__name {
  font-style: italic;
}

.fave-game__info {
  max-width: 940px;
}

.fave-game__reasons {
  white-space: pre-line;
}

.fave-game__edit-reasons {
  width: 100%;
  height: 20vh;
}

@media (max-width: 975px) {
  .fave-game__screenshot {
    width: 100%;
  }
}
