.fave-game {
  position: relative;
}

.fave-game__name {
  font-style: italic;
}

.fave-game__info {
  max-width: 940px;
}

.fave-game__reasons {
  white-space: pre-line;
}

.fave-game__edit-reasons {
  width: calc(100% - 18px);
  height: 20vh;
}

.fave-game__screenshot {
  margin-top: 4px;
}

.fave-game button {
  margin-right: 8px;
}

@media (max-width: 975px) {
  .fave-game__screenshot {
    width: 100%;
  }
}
